{% include 'navbar.html' %} 
{% load static %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\HP\OneDrive\Desktop\new django app\Profile\static\style.css' %}">


<title>Contact</title> 

  <section id="contact"> 
    <center> 
        <font size="9"> 

            

<p>CONTACT INFO</p> 
</font> 
<div class="contact-item"> 
     <h1>Phone Number</h1> 
     <h2>+xx-xxxxxxxxxx</h2> 
    </div> 
</div> 
<div class="contact-item"> 
    <h1>Email</h1> 
    <h2>nikita@gmail.com</h2> 
</div> 
</div> 
<div class="contact-item"> 
     <h1>Address</h1> 
     <h2>Shirwal, Satara, Maharashtra 412801</h2> 
    </div> 
</div> 
</div> 
 </div> 
</center> 
</section>