{% include 'navbar.html' %} 
{% load static %} 

<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\HP\OneDrive\Desktop\new django app\Profile\static\style.css' %}">




<title>Home</title> 

<section class="home"> 

        <center> 

            <font size="6"> 

                  

<p>ABOUT ME </p> 

  

            </font> 

            <img src="{% static 'C:\Users\HP\OneDrive\Desktop\new django app\Profile\static\Profile_img.png' %}" width="200" height="200"> 

            <font size="4"> 

                  

<p>"Welcome to our website! At My website, we're dedicated to providing Description of Services/Product/Content. Whether you're looking for Specific Offerings, seeking Desired Outcome, or simply exploring, you've come to the right place. Our user-friendly interface makes it easy to navigate and discover all that we have to offer. From Highlight Key Features/Benefits to Emphasize Unique Selling Proposition, we're here to meet your needs. Join our Community Base today and experience the difference at My website"</p> 

  

            </font> 

        </center> 

</section>