{% include 'navbar.html' %} 
{% load static %} 

<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'C:\Users\HP\OneDrive\Desktop\new django app\Profile\static\style.css' %}">

<title>Projects</title> 

        <section class="project-area"> 

            <center> 

            <font size="6"> 

                  

<p>PROJECTS</p> 

  

            </font> 

                <div id="project" class="project-item"> 

                    <h2>PROJECT 1 NAME</h2> 

                      

<p>
    "Our project, [Project Name], caters to [Target Audience] by offering [Brief Description]. With a focus on [Key Features/Functionality], users can [Primary User Action/Benefit], providing a streamlined experience. Through intuitive design and cutting-edge technology, [Project Name] ensures optimal performance, security, and scalability. Discover [Project Name] today and elevate your [Experience/Outcome]." </p> 

  

                </div> 

                <div id="project" class="project-item"> 

                    <h2>PROJECT 2 NAME </h2> 

                      

<p>
    "Our project, [Project Name], caters to [Target Audience] by offering [Brief Description]. With a focus on [Key Features/Functionality], users can [Primary User Action/Benefit], providing a streamlined experience. Through intuitive design and cutting-edge technology, [Project Name] ensures optimal performance, security, and scalability. Discover [Project Name] today and elevate your [Experience/Outcome]." </p> 

  

                </div> 

            </div> 

            </center> 

        </section>